@import "var";
$cart-padding: 10px;

.cart {
  background-color: #ffffff;
  margin-top: $header-margin;
  // padding: $cart-padding;

  .cartTop {
    position: sticky;
    top: $header-height;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    padding: $cart-padding;

    .title {
      font-size: 24px;
    }

    .goShopBtn {
      display: flex;
      align-items: center;
      height: 30px;
      padding: 5px;
      color: #ffffff;
      background-color: #333333;
      border-radius: 5px;
      cursor: pointer;
      transition: .3s;

      &:hover {
        opacity: .5;
      }
    }
  }

  .cartEmpty {
    margin-top: 40px;
    color: #cd5c5c;
    text-align: center;
  }

  .cartList {
    position: relative;
    top: 50%;
    height: 50%;
    // max-height: calc(
    // 100vh -
    // (
    // $header-height + $cart-total-height + $cart-allDelete-height +
    // $cart-wrap-height + $cart-padding
    // )
    // );
    padding: $cart-padding;
    overflow-y: auto;

    .eachItem {
      display: grid;
      grid-column-gap: 20px;
      grid-template-columns: auto 1fr auto;
      align-items: center;

      &:not(:last-of-type) {
        margin-bottom: 20px;
      }

      .image {
        width: 100px;
        height: auto;

        img {
          width: 100%;
          height: auto;
        }
      }

      .contents {
        display: flex;
        flex-direction: column;
        gap: 10px;

        .name {
          font-size: 16px;
        }

        .price {
          font-size: 16px;
        }
      }

      // ボタン
      .amountWrap {
        display: flex;
        align-items: center;

        .count {
          display: flex;
          align-items: center;

          .plusBtn, .minusBtn {
            display: flex;
            align-items: center;
            width: 36px;
            background: transparent;
            border: none;
            cursor: pointer;
          }
        }

        .deleteBtn {
          display: flex;
          align-items: center;
          width: 24px;
          color: #777777;
          cursor: pointer;
        }
      }
    }
  }

  hr {
    height: 3px;
    background-color: #333333;
  }

  .cartBottom {
    padding: $cart-padding;
    .total {
      height: $cart-total-height;
      margin-bottom: 10px;
      font-size: 24px;
      text-align: right;
    }

    .allDelete {
      display: none;
      justify-content: flex-end;
      height: $cart-allDelete-height;

      &.isVisible {
        display: flex;
      }

      .allDeleteBtn {
        padding: 5px;
        color: #ffffff;
        background-color: #cd5c5c;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }

  .allDeleteMask {
    position: fixed;
    z-index: 100;
    background-color: rgb(0 0 0 / 50%);
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    inset: 0;

    &.isOpen {
      visibility: visible;
      opacity: 1;
    }
  }


  .allDeleteModal {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 200px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    visibility: hidden;
    opacity: 0;
    transition: .5s;

    &.isOpen {
      visibility: visible;
      opacity: 1;
    }

    .modalWrap {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;

      .buttonBlock {
        display: flex;
        gap: 20px;

        .yesBtn, .noBtn {
          display: flex;
          justify-content: center;
          width: 50px;
          padding: 5px;
          color: #ffffff;
          border-radius: 5px;
          cursor: pointer;
          transition: .3s;

          &:hover {
            opacity: .5;
          }
        }

        .yesBtn {
          background-color: #cd5c5c;
          border: 1px solid #cd5c5c;
        }

        .noBtn {
          background-color: #333333;
          border: 1px solid #333333;
        }
      }
    }
  }
}