@import 'var';

.detail {
  position: relative;
  height: 100%;
  margin-top: $header-margin;
  padding: 20px;

  ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .detailItem {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      padding: 5px;
      border: 1px solid #000;
      border-radius: 10px;
    }
  }

  img {
    width: 200px;
    height: auto;
  }

  .name {
    font-size: 18px;
  }

  .description {
    font-size: 18px;
  }

  .price {
    font-size: 18px;
  }

  .backBtn {
    padding: 5px;
    color: #fff;
    text-align: center;
    background-color: #333;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      opacity: 0.5;
    }
  }
}
