.pagination {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;

  .wrap {
    .prevBtn,
    .nextBtn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      padding: 5px;
      background-color: #fff;
      border: 1px solid #000;
      cursor: pointer;

      &:hover {
        opacity: 0.5;
      }
    }

    .pageNum {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      padding: 5px;
      background-color: #fff;
      border: 1px solid #000;
      cursor: pointer;

      &.isActive {
        color: #fff;
        background-color: #333;
      }

      &:hover {
        opacity: 0.5;
      }
    }
  }

  .PerPageSelect {
    display: flex;
    gap: 5px;
    align-items: center;

    .displayedNum {
      font-size: 12px;
    }

    select {
      width: 70px;
      height: 30px;
    }
  }
}
