@import 'var';

.product {
  margin-top: $header-margin;
  padding: 20px;
  color: #333;
  background-color: #fff;

  .totalPrice {
    padding: 5px;
    color: #fff;
    text-align: right;
    background-color: #cd5c5c;
    border-radius: 10px;
  }

  .wrap {
    display: flex;
    justify-content: flex-end;
  }

  .selectedProduct {
    display: flex;
    justify-content: flex-end;
    gap: 10px;

    select {
      width: 150px;
      height: 30px;
      margin-bottom: 10px;
      padding: 5px;
    }
  }

  .search {
    position: relative;
    display: flex;
    gap: 5px;

    .searchBox {
      width: 150px;
      height: 30px;
      padding: 5px;
      border-radius: 5px;
      transition: .3s;

      &:focus {
        background-color: #fad0d0;
        outline: none;
      }
    }

    .searchBtn {
      position: absolute;
      top: 0;
      left: 0;
      width: 30px;
      height: 30px;
      padding: 5px;
      color: #333333;
      cursor: pointer;
    }
  }

  .productList {
    position: relative;
    top: 50%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    height: 50%;

    @media (max-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 575px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 414px) {
      grid-template-columns: 1fr;
    }

    .eachProduct {
      display: flex;
      flex-direction: column;
      gap: 5px;
      align-items: center;
      padding: 5px;
      border: 1px solid #000;
      border-radius: 5px;
      box-shadow: 6px 6px 3px 0 rgb(0 0 0 / 40%);
      transition: 0.5s;

      &.isAnimate {
        animation: sinkButton 0.5s forwards;
      }

      @keyframes sinkButton {
        0% {
          box-shadow: 7px 7px 3px 0 rgb(0 0 0 / 40%);
        }

        100% {
          box-shadow: none;
        }
      }

      .image {
        display: flex;
        align-items: center;
        width: 50px;
        height: 50px;
        object-fit: contain;

        img {
          width: 50px;
          height: 50px;
          object-fit: contain;
        }
      }

      .contents {
        display: flex;
        // flex-direction: column;
        gap: 10px;

        .name {
          font-size: 14px;
        }

        .price {
          font-size: 14px;
          text-align: center;
        }
      }
    }

    .productBtn {
      display: flex;
      gap: 10px;
      .addToCartBtn {
        padding: 5px;
        color: #fff;
        text-align: center;
        background-color: goldenrod;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
  
        &:hover {
          opacity: 0.5;
        }
      }
  
      .detailBtn {
        padding: 5px;
        color: #fff;
        text-align: center;
        background-color: #333;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.3s;
  
        &:hover {
          opacity: 0.5;
        }
      }
    }

  }
}
