@mixin modalStyle {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 200px;
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  transition: .2s;

  &.isOpen {
    visibility: visible;
    opacity: 1;
  }
}



.update {
  padding: 20px;

  .updateProduct {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    overflow-x: scroll;

    .datalist {
      .eachProduct {

        tr {
          td {
            &:not(:last-of-type) {
              padding-right: 5px;
            }
          }
        }

        .id {
          input {
            width: 50px;
          }
        }

        .name {
          input {
            width: 100px;
          }
        }

        .price {
          input {
            width: 60px;
            text-align: right;
          }
        }

        .image {
          display: flex;
          height: 100%;
          align-items: stretch;
          img {
            display: inline-block;
            width: 30px;
            height: 30px;
          }

          .fileSelectBtn {
            background-color: #777;
            color: #ffffff;
            cursor: pointer;
            padding: 0 3px;
            height: 20px;
            border-radius: 3px;
          }
        }

        .category {
          select {
            height: 100%;
            padding: 5px;

          }
        }

        .description {
          textarea {
            display: flex;
            transition: .3s;
            height: 25px;
            padding: 3px;

            &.isExpand {
              height: 100px;
            }
          }
        }


        ._update {
          .updateBtn {
            align-items: center;
            padding: 0 5px;
            color: #ffffff;
            background-color: #333333;
            border-radius: 3px;
            cursor: pointer;
            
            &:disabled {
              opacity: 0.5;
              pointer-events: none;
            }

            &:hover {
              opacity: 0.5;
            }
          }
        }

        ._delete {
          // display: flex;
          // justify-content: center;

          .deleteBtn {
            display: flex;
            align-items: center;
            width: 24px;
            color: #777777;
            cursor: pointer;

            &:hover {
              opacity: 0.5;
            }
          }
        }

      }
    }
    

    .addProduct {
      .newId {
        input {
          width: 20px;
        }
      }

      .newName {
        input {
          width: 100px;
        }
      }

      .newPrice {
        input {
          width: 60px;
          text-align: right;
        }
      }

      .newImage {
        text-align: center;

        img {
          width: 30px;
          height: 30px;
        }

        .newFileSelectBtn {
          background-color: #777;
          color: #ffffff;
          cursor: pointer;
          padding: 0 3px;
          height: 20px;
          border-radius: 3px;
        }
      }

      .newCategory {
        select {
          height: 100%;
          padding: 5px;

        }
      }

      .newDescription {
        textarea {
          transition: .3s;
          height: 25px;
          padding: 3px;

          &.isExpand {
            height: 100px;
          }
        }
      }
      .add {
        .addBtn {
          align-items: center;
          padding: 0 5px;
          color: #ffffff;
          background-color: goldenrod;
          border-radius: 3px;
          cursor: pointer;
          width: 100px;

          &:hover {
            opacity: 0.5;
          }
        }
      }
    }
  }



  .mask {
    position: fixed;
    z-index: 100;
    background-color: rgb(0 0 0 / 50%);
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    inset: 0;

    &.isOpen {
      visibility: visible;
      opacity: 1;
    }
  }

  .updateModal {
    @include modalStyle();

    .modalWrap {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;

      p {
        // モーダル消す時に空文字になっても要素固定
        height: 10px;
      }

      .closeBtn {
        padding: 5px;
        color: #ffffff;
        background-color: #333333;
        border: 1px solid #333333;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
  

  .deleteConfModal {
    @include modalStyle();

    .modalWrap {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;

      .judgeBtn {
        display: flex;
        gap: 20px;

        .yesBtn,
        .noBtn {
          padding: 5px;
          width: 50px;
          border-radius: 5px;
          color: #ffffff;
        }

        .yesBtn {
          background-color: #cd5c5c;
        }

        .noBtn {
          background-color: #333;
        }
      }

      p {
        // モーダル消す時に空文字になっても要素固定
        height: 10px;
      }

      .closeBtn {
        padding: 5px;
        color: #ffffff;
        background-color: #333333;
        border: 1px solid #333333;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
}

// .updateCategory {
//   display: flex;
//   align-items: center;
//   justify-content: center;

//   .categoryList {
//     display: inline-block;
//     justify-content: space-between;
//     margin-right: 10px;
//     padding: 5px;
//     border: 1px solid #000000;

//     .eachCategory {
//       display: flex;
//       gap: 20px;
//       justify-content: space-between;

//       .deleteCategory {
//         cursor: pointer;
//       }
//     }
//   }

//   input,
//   .addCategoryBtn {
//     height: 50px;
//   }

//   .addCategoryBtn {
//     cursor: pointer;
//   }
// }