
$id-width: 30px;
$name-width: 80px;
$price-width: 70px;
$image-width: 80px;
$category-width: 100px;
$description-width: 150px;

@mixin listStyle {
  display: grid;
  grid-template-columns: $id-width $name-width $price-width $image-width $category-width $description-width 50px 50px;
  align-items: center;
  justify-items: center;
  gap: 10px;
}

.update {
  padding: 20px;
  display: grid;
  place-items: center;
  overflow-x: scroll;

  .updateProduct {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 20px;

    .field {
      @include listStyle()
    }

    .productList {
      .eachProduct {
        @include listStyle();

        &.isSelected {
          background-color: #dfdede;
        }

        .name {
          input {
            width: $name-width;
          }
        }

        .price {
          input {
            width: $price-width;
            text-align: right;
          }
        }

        .image {
          display: flex;
          align-items: center;
          gap: 5px;

          img {
            width: 30px;
            height: 30px;
            object-fit: contain;
          }

          .fileSelectBtn {
            background-color: #777;
            color: #ffffff;
            cursor: pointer;
            padding: 0 3px;
            height: 20px;
            border-radius: 3px;
          }
        }

        .category {
          select {
            height: 100%;
            padding: 5px;

          }
        }

        .description {
          textarea {
            display: flex;
            transition: .3s;
            height: 25px;
            padding: 3px;
            width: 150px;

            &.isExpand {
              height: 100px;
            }
          }
        }

        // 更新ボタン
        ._update {
          .updateBtn {
            align-items: center;
            padding: 0 5px;
            color: #ffffff;
            background-color: #333333;
            border-radius: 3px;
            pointer-events: auto;
            cursor: pointer;
            transition: .2s;

            &.isDisable {
              opacity: 0.5;
              pointer-events: none;
            }

            &:hover {
              background-color: goldenrod;
            }
          }
        }

        // 削除ボタン
        ._delete {
          .deleteBtn {
            display: flex;
            align-items: center;
            width: 24px;
            color: #777777;
            cursor: pointer;

            &:hover {
              opacity: 0.5;
            }
          }
        }

      }
    }

    // 商品追加
    .addProduct {
      margin-top: 20px;
      @include listStyle();
      grid-template-columns: $id-width $name-width $price-width $image-width $category-width $description-width 100px;

      .newName {
        input {
          width: $name-width;
        }
      }

      .newPrice {
        input {
          width: $price-width;
          text-align: right;
        }
      }

      .newImage {
        text-align: center;

        img {
          height: 30px;
        }

        .newFileSelectBtn {
          background-color: #777;
          color: #ffffff;
          cursor: pointer;
          padding: 0 3px;
          height: 20px;
          border-radius: 3px;
        }
      }

      .newCategory {
        select {
          height: 100%;
          padding: 5px;

        }
      }

      .newDescription {
        textarea {
          transition: .3s;
          height: 25px;
          padding: 3px;
          width: $description-width;

          &.isExpand {
            height: 100px;
          }
        }
      }

      .add {
        .addBtn {
          align-items: center;
          padding: 0 5px;
          color: #ffffff;
          background-color: goldenrod;
          border-radius: 3px;
          cursor: pointer;
          width: 100px;

          &:hover {
            opacity: 0.5;
          }
        }
      }

      .goShop {
        position: absolute;
        right: 20px;
        bottom: 20px;
        display: flex;
        .goShopBtn {
          display: flex;
          justify-content: center;
          padding: 0 5px;
          color: #ffffff;
          background-color: #333;
          border-radius: 3px;
          cursor: pointer;
          width: 150px;

          &:hover {
            opacity: 0.5;
          }
        }
      }
    }
  }
}