.mask {
  position: fixed;
  z-index: 100;
  background-color: rgb(0 0 0 / 50%);
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  inset: 0;

  &.isOpen {
    visibility: visible;
    opacity: 1;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 200;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 200px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  transition: .5s;

  &.isOpen {
    visibility: visible;
    opacity: 1;
  }

  .modalWrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    // 閉じるボタン
    .closeBtn {
      padding: 5px;
      color: #ffffff;
      background-color: #333333;
      border: 1px solid #333333;
      border-radius: 5px;
      cursor: pointer;
    }
    
    // はい、いいえボタン
    .btnBlock {
      display: flex;
      gap: 20px;
  
      .yesBtn,
      .noBtn {
        display: flex;
        justify-content: center;
        width: 50px;
        padding: 5px;
        color: #ffffff;
        border-radius: 5px;
        cursor: pointer;
        transition: .3s;
  
        &:hover {
          opacity: .5;
        }
      }
  
      .yesBtn {
        background-color: #cd5c5c;
        border: 1px solid #cd5c5c;
      }
  
      .noBtn {
        background-color: #333333;
        border: 1px solid #333333;
      }
    }
  }

}
