@import '../var';

.signUp {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .errorMsg {
    display: none;

    &.isVisible {
      display: block;
    }
  }

  .formWrap {
    padding: 10px;
    background-color: #f1deb7;
    border: 2px solid #333;
    border-radius: 5px;
    box-shadow: 10px 10px 5px -5px #a9a8a8;
  }

  .heading {
    text-align: center;
  }

  .signUpForm {
    .inputForm {
      display: flex;
      flex-direction: column;
      align-items: center;

      label {
        display: flex;
        width: 300px;
      }

      input {
        width: 300px;
        padding: 5px 7px;
        border: 1px solid #333;
        border-radius: 30px;
        cursor: pointer;

        &:focus {
          border: 1px solid goldenrod;
          outline: none;
        }
      }
    }

    .errorMsg {
      display: flex;
      justify-content: center;
      padding: 5px 0;
      color: #cd5c5c;
    }

    .signUpBtn {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 300px;
      padding: 5px;
      color: #fff;
      background-color: #333;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        color: #000;
        background-color: goldenrod;
        border: transparent;
      }
    }
  }
}
